<div class="players">
  <div class="player-form">
    <form [formGroup]="playerForm" (ngSubmit)="addPlayer()">
      <input type="text" formControlName="name" placeholder="Enter player name" required />
      <button type="submit">Add Player</button>
    </form>
  </div>
  <div class="player-score-table">
    <table>
      <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Score</th>
        <th>Misses</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of players" [ngClass]="player.status">
        <td>{{ currentPlayer === player ? "-->" : "" }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.score }}</td>
        <td>{{ player.misses }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
