.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  margin: 32px auto 0;
  height: 100vh;
}

app-drafted-team, app-draft-board {
  flex: 1;
  display: block;
  max-height: calc(100vh - 64px);
}

app-drafted-team {
  margin: 63px 0;
}

app-draft-board {
  margin: 16px 0;
}
