<div class="draft-board-row">
  <div>
    <button (click)="draft()">
      <img
        ngSrc="../../../assets/checkmark.svg"
        alt="checkmark"
        height="24"
        width="24"
      />
    </button>
  </div>
  <div>
    <button (click)="remove()">
      <img
        ngSrc="../../../assets/cross.svg"
        alt="cross"
        height="24"
        width="24"
      />
    </button>
  </div>
  <div>{{ player.ovr }}</div>
  <app-position [pos]="player.pos"></app-position>
  <div>{{ player.rank }}</div>
  <div>{{ player.name }}</div>
  <app-team [team]="player.team"></app-team>
  <app-bye [bye]="player.bye"></app-bye>
</div>
