<div class="draft-board-row">
  <div>
    <button (click)="select.emit()">
      <img ngSrc="../../../assets/checkmark.svg" alt="checkmark" height="16" width="16">
    </button>
  </div>
  <div>
    <button>
      <img ngSrc="../../../assets/checkmark.svg" alt="checkmark" height="16" width="16">
    </button>
  </div>
  <div>{{ player.ovr }}</div>
  <div>{{ player.pos }}</div>
  <div>{{ player.rank }}</div>
  <div>{{ player.name }}</div>
  <div>{{ player.team }}</div>
  <div>{{ player.bye }}</div>
</div>
